[submodule "bs3-sublime-plugin"]
	path = bs3-sublime-plugin
	url = https://github.com/JasonMortonNZ/bs3-sublime-plugin.git
[submodule "vuejs-snippets-sublime"]
	path = vuejs-snippets-sublime
	url = https://github.com/filipelinhares/vuejs-snippets-sublime.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/amazeui/snippets.git
[submodule "weapp-snippet-for-sublime-text-2-3"]
	path = weapp-snippet-for-sublime-text-2-3
	url = git@github.com:Abbotton/weapp-snippet-for-sublime-text-2-3.git
