<article class="am-article">
  <div class="am-article-hd">
    <h1 class="am-article-title">$title$</h1>
    <p class="am-article-meta">$meta$</p>
  </div>

  <div class="am-article-bd">
    <p class="am-article-lead">$lead$</p>
    $内容$
  </div>
</article>